* {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.between {
  justify-content: space-between;
}

.around {
  justify-content: space-around;
}

.j-center {
  justify-content: center;
}

.end {
  justify-content: flex-end;
}

.a-center {
  align-items: center;
}

body {
  margin: 0;
  background: #1F1C26;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

header {
  padding: 28px 0;
}

nav a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #F2F2F2;
  margin: 0 20px;
}
nav a:hover {
  border-bottom: 5px solid #59253E;
}

.login {
  background: #F24B88;
  padding: 1px 12px;
  border: none;
  margin-right: -4px;
  height: 26px;
}

.sign_in {
  border: 1px solid #FFFFFF;
  background-color: #1F1C26;
}

.rectangle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #F2F2F2;
}

.workout_plan {
  margin-top: 60px;
  margin-bottom: 148px;
}

.left_work {
  width: 432px;
  height: 468px;
}

.week {
  margin-bottom: 40px;
}
.week h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 96px;
  letter-spacing: 0.215em;
  color: #FFFFFF;
}
.week span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 43px;
  letter-spacing: 0.215em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 24px;
}

.btn {
  width: 190px;
  height: 70px;
  margin-top: 88px;
  background: #F24B88;
  border-radius: 10px;
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
}

.two {
  margin-left: 44px;
}

.text_info {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.36);
}

.right_work img {
  border-radius: 10px;
}

.box_info {
  background: #332F3C;
  border-radius: 10px;
  width: 335px;
  height: 220px;
  padding: 32px 24px;
  margin-left: 24px;
}
.box_info span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
}
.box_info a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
}

.down {
  margin-top: 24px;
}

.more {
  margin-top: 24px;
}

.arrow {
  background: #F24B88;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 12px;
}

.training_plan {
  margin-bottom: 150px;
}

.latest_text {
  position: relative;
}

.latest_text:after {
  content: "";
  background: #59253E;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  width: 70px;
}

.title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;
  text-transform: uppercase;
  color: #FFFFFF;
  border-bottom-width: 15px;
}

.program {
  width: 440px;
  margin-top: 40px;
}
.program span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 8px 0;
}

.see_more {
  background: #F24B88;
  border-radius: 5px;
  width: 98px;
  height: 36px;
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
  margin-top: 20px;
}

.our_team {
  margin-bottom: 158px;
}

.our {
  position: relative;
}

.our::after {
  content: "";
  background: #59253E;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  width: 68px;
}

.trainer {
  background: #F2F2F2;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.25);
  width: 328px;
  height: 460px;
  margin-top: 60px;
}
.trainer img {
  width: 328px;
  height: 240px;
}

.trainer_info {
  padding: 20px;
}
.trainer_info h4 {
  font-family: "Poppins Bold";
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  color: #0D0D0D;
}
.trainer_info span {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  text-transform: capitalize;
  color: #332F3C;
}
.trainer_info p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: rgba(13, 13, 13, 0.36);
}

.discover {
  margin-bottom: 60px;
}

.discover_info {
  background: #332F3C;
  height: 382px;
  padding: 65px 100px;
}
.discover_info h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  letter-spacing: 0.215em;
  color: #FFFFFF;
}
.discover_info p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  width: 600px;
  text-align: center;
  color: #FFFFFF;
}
.discover_info button {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  border: none;
  width: 200px;
  height: 70px;
}

.view {
  margin-top: 44px;
}

.pink {
  background: #F24B88;
  border-radius: 10px;
}

.black {
  background: #1F1C26;
  border-radius: 10px;
  margin-left: 32px;
}

.footer_link {
  border-top: 1px solid #F2F2F2;
  border-bottom: 1px solid #F2F2F2;
  padding-top: 36px;
  padding-bottom: 16px;
}
.footer_link p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
  width: 400px;
  margin: 16px 0;
}
.footer_link span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.info_link {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
  margin: 12px 0;
}

.subscribe button {
  background: #F24B88;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: none;
  width: 92px;
  height: 36px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 12px;
}

.form_control {
  padding: 6px 70px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  color: #7B7B7B;
  background: #FFFFFF;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin-top: 24px;
}

.copyright {
  padding: 36px 0;
}
.copyright span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
}

@media (max-width: 1440px) {
  .container {
    max-width: 1200px;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 1000px;
  }
}

/*# sourceMappingURL=main.css.map */
